<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link type="text/css" href="css/style.css" rel="stylesheet"/>
        <title>Untitled Document</title>
    </head>
    <body style="text-align:center;margin:0;padding:0;">
        <div id="container">
            <div id="header">
                <div id="header-logo">
                </div>
                <div id="header-ad">
                </div>
            </div>
            <div id="tag-cloud">
                <div id="tag-google">
                    <!-- SiteSearch Google -->
                    <form method="get" action="http://www.google.cn/custom" target="google_window">
                        <table border="0" bgcolor="#ffffff">
                            <tr>
                                <td nowrap="nowrap" valign="top" align="left" height="32">
                                </td>
                                <td nowrap="nowrap">
                                    <input type="hidden" name="domains" value="www.navgame.com">
                                    </input>
                                    <label for="sbi" style="display: none">
                                        输入您的搜索字词
                                    </label>
                                    <input type="text" name="q" size="31" maxlength="255" value="交友" id="sbi" onclick="javascript:this.value='';">
                                    </input>
                                    <label for="sbb" style="display: none">
                                        提交搜索表单
                                    </label>
                                    <input type="submit" name="sa" value="搜索" id="sbb">
                                    </input>
                                </td>
                                </tr>
                                <tr>
                                    <td>
                                        &nbsp;
                                    </td>
                                    <td nowrap="nowrap">
                                        <input type="hidden" name="sitesearch" value="www.navgame.com" checked id="ss1">
                                        </input><input type="hidden" name="client" value="pub-0867368450523051">
                                        </input><input type="hidden" name="forid" value="1">
                                        </input><input type="hidden" name="ie" value="UTF-8">
                                        </input><input type="hidden" name="oe" value="UTF-8">
                                        </input><input type="hidden" name="cof" value="GALT:#008000;GL:1;DIV:#336699;VLC:663399;AH:center;BGC:FFFFFF;LBGC:336699;ALC:0000FF;LC:0000FF;T:000000;GFNT:0000FF;GIMP:0000FF;LH:36;LW:200;L:http://www.navgame.com/images/logo.png;S:http://www.navgame.com;FORID:1">
                                        </input><input type="hidden" name="hl" value="zh-CN">
                                        </input>
                                        </td>
                                    </tr>
                                    </table>
                                </form><!-- SiteSearch Google -->
                            </div>
                            </div>
                            <div class="block">
                                <div class="block_title">
                                    <h3>title of block</h3>
                                </div>
                                <ul class="block_list">
                                    <li>
                                        <a href="#1">中心站长如何度过冬季 不如向动物学习一下</a>
                                    </li>
                                    <li>
                                        <a href="#2">中心站长如何度过冬季 不如向动物学习一下</a>
                                    </li>
                                    <li>
                                        <a href="#3">中心站长如何度过冬季 不如向动物学习一下</a>
                                    </li>
                                    <li>
                                        <a title="目前只需要安装这款主题就可以了，您不需要再安装任何其他插件，当然，如果" href="#">目前只需要安装这款主题就可以了，您不需要再安装任何其他插件，当然，如果您激活了BTC插件，请将它去掉并删除</a>
                                    </li>
                                    <li>
                                        <a href="#4">中心站长如何度过冬季 不如向动物学习一下</a>
                                    </li>
                                    <li>
                                        <a href="#5">中心站长如何度过冬季 不如向动物学习一下</a>
                                    </li>
                                    <li>
                                        <a href="#6">中心站长如何度过冬季 不如向动物学习一下</a>
                                    </li>
                                    <li>
                                        <a href="#7">中心站长如何度过冬季 不如向动物学习一下</a>
                                    </li>
                                    <li>
                                        <a href="#8">中心站长如何度过冬季 不如向动物学习一下</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="block">
                                <div class="block_title">
                                    <h3>title of block</h3>
                                </div>
                            </div>
                            <div class="block">
                                <div class="block_title">
                                    <h3>title of block</h3>
                                </div>
                            </div>
                            <div style="clear:both;">
                            </div>
                            <div id="middle-ad">
                                <script type="text/javascript">
                                    <!--
                                    google_ad_client = "pub-0867368450523051";
                                    /* 728x90, 创建于 08-11-24 */
                                    google_ad_slot = "0969099413";
                                    google_ad_width = 728;
                                    google_ad_height = 90;
                                    //-->
                                </script>
                                <script type="text/javascript" src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
                                </script>
                            </div>
                            <div class="block">
                                <div class="block_title">
                                    <h3>title of block</h3>
                                </div>
                            </div>
                            <div class="block">
                                <div class="block_title">
                                    <h3>title of block</h3>
                                </div>
                            </div>
                            <div class="block">
                                <div class="block_title">
                                    <h3>title of block</h3>
                                </div>
                            </div>
                            <div style="clear:both;">
                            </div>
                            <div class="block">
                                <div class="block_title">
                                    <h3>title of block</h3>
                                </div>
                            </div>
                            <div class="block">
                                <div class="block_title">
                                    <h3>title of block</h3>
                                </div>
                            </div>
                            <div class="block">
                                <div class="block_title">
                                    <h3>title of block</h3>
                                </div>
                            </div>
                            <div style="clear:both;">
                            </div>
                            <div id="footer-ad">
                                <script type="text/javascript">
                                    <!--
                                    google_ad_client = "pub-0867368450523051";
                                    /* 728x90, 创建于 08-12-8 */
                                    google_ad_slot = "0949739821";
                                    google_ad_width = 728;
                                    google_ad_height = 90;
                                    //-->
                                </script>
                                <script type="text/javascript" src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
                                </script>
                            </div>
                            <div id="footer">
                                ©2008 游戏领航员 www.navgame.com
                            </div>
                        </div>
                        </body>
                    </html>
