<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link type="text/css" href="css/style.css" rel="stylesheet"/>
        <title>Untitled Document</title>
    </head>
    <body>
        <div id="container">
            <div id="header">
                <div id="header-logo">
                </div>
                <div id="header-ad">
                </div>
            </div>
            <div id="tag-cloud">
                <div id="tag-google">
                    <!-- SiteSearch Google -->
                    <form method="get" action="http://www.google.cn/custom" target="google_window">
                        <table border="0" bgcolor="#ffffff">
                            <tr>
                                <td nowrap="nowrap" valign="top" align="left" height="32">
                                </td>
                                <td nowrap="nowrap">
                                    <input type="hidden" name="domains" value="www.navgame.com">
                                    </input>
                                    <label for="sbi" style="display: none">
                                        输入您的搜索字词
                                    </label>
                                    <input type="text" name="q" size="31" maxlength="255" value="交友" id="sbi" onclick="javascript:this.value='';">
                                    </input>
                                    <label for="sbb" style="display: none">
                                        提交搜索表单
                                    </label>
                                    <input type="submit" name="sa" value="搜索" id="sbb">
                                    </input>
                                </td>
                                </tr>
                                <tr>
                                    <td>
                                        &nbsp;
                                    </td>
                                    <td nowrap="nowrap">
                                        <input type="hidden" name="sitesearch" value="www.navgame.com" checked id="ss1">
                                        </input><input type="hidden" name="client" value="pub-0867368450523051">
                                        </input><input type="hidden" name="forid" value="1">
                                        </input><input type="hidden" name="ie" value="UTF-8">
                                        </input><input type="hidden" name="oe" value="UTF-8">
                                        </input><input type="hidden" name="cof" value="GALT:#008000;GL:1;DIV:#336699;VLC:663399;AH:center;BGC:FFFFFF;LBGC:336699;ALC:0000FF;LC:0000FF;T:000000;GFNT:0000FF;GIMP:0000FF;LH:36;LW:200;L:http://www.navgame.com/images/logo.png;S:http://www.navgame.com;FORID:1">
                                        </input><input type="hidden" name="hl" value="zh-CN">
                                        </input>
                                        </td>
                                    </tr>
                                    </table>
                                </form><!-- SiteSearch Google -->
                            </div>
                            </div>
                            <div style="clear:both;">
                            </div>
                            <div class="block_sublist">
                                <div class="block_title">
                                    <h3>title of block</h3>
                                </div>
                                <div class="block_sublist_intro">
                                    <div class="block_sublist_intro_img">
                                    </div>
                                    <h3><a href="#1">Title of article</a></h3>
                                    <p>
                                        CN域名成为全球第一大国家域名。回首不平凡的2008年，国家域名究竟呈现出哪些发展关键节点，又为中国互联网增添了怎样精彩回忆呢...<a href="#2">阅读全部</a>
                                    </p>
                                </div>
                            </div>
                            <div class="block_sublist_related">
                                <div class="block_title">
                                    <h3>title of block</h3>
                                </div>
                            </div>
                            <div class="block_sublist_right_ad">
                                <script type="text/javascript">
                                    <!--
                                    google_ad_client = "pub-0867368450523051";
                                    /* 300x250, 创建于 08-12-11 */
                                    google_ad_slot = "4911387893";
                                    google_ad_width = 300;
                                    google_ad_height = 250;
                                    //-->
                                </script>
                                <script type="text/javascript" src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
                                </script>
                            </div>
                            <div style="clear:both;">
                            </div>
                            <div id="footer">
                                ©2008 游戏领航员 www.navgame.com
                            </div>
                        </div>
                        </body>
                    </html>
