body{
    background: #333333;
    color: #FFC757;
}

a {
    color: #FFFFF0;
}

#container {
    width: 920px;
    overflow: hidden;
    margin: 5px auto;
    border: solid 1px;
} #speaker_sizer {
    margin-left: 20px;
    width: 220px;
    height: 150px;
    float: left;
} #speaker_sizer a {
    text-decoration: none;
    color: #FFC757;
} #speaker_sizer a:hover {
    cursor: crosshair;
    color: red;
    border: dotted 2px red;
} 

.selected_size {
    border: dotted 2px red;
    color: red!important;
}

.input {
    width: 240px;
    height: 20px;
    float: left;
}


#speaker {
	float: left;
	width: 260px;
    background: #333333;	
    border: 1px solid;
	font-size: 12px;
	font-weight: bold;
	padding: 0.5em;
	margin: 3px;
}
 
#speaker div {
	padding: 0.2em 0.5em;
}
 
#speaker p {
	float: left;
	margin: 4px 0pt;
	width: 80px;
}
 
#display {
    width: 800px;
    margin: 5px auto;
    border: 1px solid;
}

#display ul {
    list-style: none;
    width: 780px;
}

.button {
    width: 32px;
    height: 18px;
    font-size: 16px;
    border: solid 1px;
    background: #333333;
    padding: 2px;
    cursor: pointer;
}


#log_res {
    overflow: auto;
} #log_res.ajax-loading {
    padding: 20px 0;
    background: url(http://demos111.mootools.net/demos/Group/spinner.gif) no-repeat center;
}